@charset="utf-8";
body,h1,ul {
	margin:0;
	padding:0;
	font-family: 微软雅黑;
	font-weight: 100;
	font-size:16px;
	color: 	#333;
	line-height: 1.8;
}

.active a{
	background-color: black;
}
.act a{
	background-color: #9D9D9D;
}
ul {
	list-style:outside none none;
}

a {
	text-decoration:none;
}
.none {
	display:none;
}

#header {
	width: 100%px;
	height:38px;
	min-width: 1263px;
	background-color:#111;
	box-shadow: 0 1px 10px rgba(0,0,0,0.6);
	position: relative;
	z-index:9999;

}
#header > div {
	width:1263px;
	margin:0 auto;
}
#header > div > h1 {
	width:15px;
	height:15px;
	text-indent: -8888px;
	float: left;
}
#header > div > nav> ul {
	float: right;
	width: 708x;
/*	height: 38px;*/
	line-height: 36px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 2px;
}
#header > div > nav > ul > li {
	float: left;
	width:98px;
	text-align: center;
/*	position: relative;*/
}
#header > div > nav >ul > li > a{
	color: white;
	display: block;
}
.lg a{
	width:98px;
	font-size: 9px;
}
/*.none ul > li > a img{
	position: absolute;
	top: 8px;*/
}
#header > div > nav > ul > li > a:hover {
	background-color:black;
}

.dir {
	width: 978px;
	height: 358px;
/*	background-color: #333;*/
	margin: 0 auto;
}
.block {
	float: left;
	margin-top: 28px;
}
.block h2 {
	font-size: 18px;
}
.block ul li a{
	color: white;
}
.sec1{
	width: 240px;
	height: 238px;
/*	background-color: red;*/
/*	margin-left: 104px;*/
}
.sec1 ul li a{
	font-size: 15px;
}
.sec1 ul li a:hover{
background-color: #000;
border:1px solid #000;
border-radius: 3px;
}
.sec2{
	width: 240px;
	height: 238px;
/*    background-color: green;*/
}
.sec2 ul li a{
	font-size: 15px;
}
.sec2 ul li a:hover{
background-color: #000;
border:1px solid #000;
border-radius: 3px;
}
.sec3{
	width: 240px;
	height: 238px;
/*	background-color: blue;*/
}
.sec3 ul li a{
	background-color: #888;
	border:1px solid #888;
    border-radius: 3px;
	font-size: 15px;
}
.sec3 ul li a:hover{
background-color: #222;
border:1px solid #222;
border-radius: 3px;
}
.sec4{
	width: 240px;
	height: 238px;
/*	background-color: blue;*/
}
.sec3 ul li a{
display: inline-block;
}
#footer {
	width:100%px;
	height:408px;
	background-color: #111;
	color: white;
}
#footer >p {
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	color: #ddd;
}

