@charset="utf-8";
.active a{
	background-color: black;
}
.contactus{
	width:978px;
	height:628px;
/*	background-color: red;*/
	margin:88px auto;
/*	text-indent: 16px;*/
}
.contactus > ul > li{
	margin: 0 0 0 18px;
}
.contactus > ul > h2{
	font-size: 18px;
	margin: 16px 0 16px 0;
}
.contactus > ul > li a{
	color:#272727;
}
.contactus > ul > li a:hover{
	font-weight: bold;
}