@charset="utf-8";
.product{
	width:978px;
	height:518px;
/*	background-color: blue;*/
	margin:118px auto;
/*	text-indent: 16px;*/
}
#banner {
	width:100%px;
	height:255px;
	background:url(image/Banner2.jpg) no-repeat center;
	background-size: 100%;
	min-width: 1263px;
}
.left{
	width:198px;
	height:518px;
/*	background-color: red;*/
	float:left;
}
.left ul li a{
	color:#272727;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.8;
/*	margin-left: 28px;*/
}
.left ul li a:hover{
	background-color: #9D9D9D;
	border:1px solid #9D9D9D;
	border-radius: 3px;
}
.right{
	width:736px;
	height:518px;
	background-color: #F0F0F0;
	float:right;
	text-indent: 0;
	text-align: center;
	position: relative;
}
/*.right li{
	margin-top: 18px;
}*/
.right figure{
	width:290px;
	height:290px;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	display: inline-block;
    text-indent: 0;
    background-color:#E0E0E0;
    position: absolute;
    right: 0px;
    top: 38px;
}
.right > figure > img{
	margin-top: 1px
}
.right figcaption{
	position: absolute;
	left:58px;
	top:58px;
/*	background-color: red;*/
	width:398px;
	height:288px;
	text-align: left;
}
.right figcaption a{
	color:#272727;
}
.right figcaption a:hover{
	background-color: #222;
	border:1px solid #222;
	border-radius: 3px;
	color: white;
}
/*.right > figure > figcaption{
/*	background-color: red;*/
/*	line-height: 16px;
}
.right > figure > figcaption a{
	color:black;
}
.right > figure > figcaption a:hover{
	font-weight: bold;
}
.right p a{
	background-color: gray;
	width:68px;
	height:25px;
	position: absolute;
	right:68px;
	border: 1px solid #E0E0E0;
	border-radius: 6px;
	color:black;
	font-size: 16px;
}
.right p a:hover{
	background-color: #9D9D9D;
	font-weight: bold;
}
*/
.quote {
	background-color: #888;
	border:1px solid #888;
    border-radius: 3px;
	font-size: 15px;
}
.quote:hover{
background-color: #222;
border:1px solid #222;
border-radius: 3px;
color: white;
}