@charset "utf-8";
.active a{
	background-color: black;
}
#banner {
	width:100%px;
	height:255px;
	background:url(image/Banner3.jpg) no-repeat center;
	background-size: 100%;
	min-width: 1263px;
/*	position: relative;*/
}
.int {
	width:100%px;
	height:188px;
/*	margin: 58px auto;*/
	text-align: center;
    background:url(image/warehouse.jpg) no-repeat center;
    background-size: 100%;
    min-width: 1263px;
}
.int p {
	width: 800px;
	height: 188px;
	font-size: 18px;
	font-weight: bold;
	color: #ddd;
	margin: 0 auto;
}
.int p b {
	font-size: 31px;
}
.int p strong {
	font-size: 38px;
	font-weight: normal;
}
.product{
	width:978px;
	height:268px;
/*	background-color: red;*/
/*	display: inline-block;*/
	margin: 98px auto;
}
.p {
	margin-top: 0px;
	margin-left: 0px;
    width: 228px;
    height:268px;
/*	background-color: blue;*/
	text-align: center;
	border-radius: 3px;
	border: 1px solid #F5F5F5;

}
.p figcaption {
	color: #333;
}
.p figcaption:hover{
	font-weight: bold;
}
.p1 {
	float: left;
}
.p2 {
	display: inline-block;
	margin: 0px 97px;
/*	float: center;*/
}
.p3 {
	float: right;
	margin-right: 0px;
}
.quality {
	width: 978px;
	height: 58px;
	margin: 28px auto;
/*	background-color: red;*/
}
.quality img{
	width: 58px;
	height: 58px;
/*	background: blue;*/
/*	display: inline-block;*/
/*    margin-left: 96px;*/
    float: left;
}
.quality p {
	width: 788px;
	height: 58px;
	float: right;
/*	background-color: blue;*/
/*	display: inline-block;*/
    margin-top: 0px;
/*    line-height: 58px;*/
    border-radius: 3px;
/*    border: 1px solid #F0F0F0;*/
}
.quality strong {
	font-weight: normal;
	color: #000;
}
.q1 {
	line-height: 58px;
/*	color: #333;*/
}
.q2 {
	line-height: 29px;
/*	color: #666;*/
}
.solu {
	width:100%;
	height:188px;
	margin: 98px auto;
	text-align: center;
    background:url(image/solution-small.jpg) no-repeat center;
    background-size: 100%;
    min-width: 1263px;
}
.solu p {
	font-size: 36px;
	font-weight: bold;
	color: #ddd;
	line-height: 188px;
	margin: 0px auto;
	display: inline-block;
}
.solution{
    width:978px;
	height: 500px;
/*	background-color: gray;*/
	margin: 88px auto; 
	text-align: center;
}
.s1 {
    float: left;
	margin-left: 0px;
	margin-right: 52px;
    width: 188px;
    height: 188px;
/*	background-color: red;*/
	text-align: center;
	border-radius: 3px;
	border: 1px solid #F5F5F5;
}
.s1 figcaption {
	color:#333;
}
.s1 figcaption:hover{
	font-weight: bold;
}
/*.solution > figure{
	float: left;
	width: 168px;
}
.solution > p{
	padding:0 0 0 18px;
	text-indent: 16px;
}
.solution> section > h2 a {
	font-size:28px;
	font-weight:bold;
	padding: 0 0 0 8px;
	color: #222;
}
.solution > figure > figcaption > a{
	color:	#272727;
}
.solution > figure > figcaption > a:hover{
	font-weight: bold;
}
.solution hr {
	width: 78px;*/
}
/*#direct {
	width: 100%px;
	height: 288px;
	background-color: red;
}*/
/*#footer {
	width:100%px;
	height:68px;
	background-color: #333;
	margin: 0 auto;
	text-align: center;
}
#footer >p {
	font-size: 15px;
	line-height: 28px;
	color: #ddd;
/*	margin-top: 8px*/
}*/