@charset="utf-8";
.active a{
	background-color: black;
}
#banner {
	width:100%px;
	height:255px;
	background:url(image/Banner2.jpg) no-repeat center;
	background-size: 100%;
	min-width: 1263px;
}
.act a{
	background-color: #9D9D9D;
	border-radius: 3px;
}
.product{
	width:978px;
	height:758px;
	margin:88px auto;
}
.left{
	width:198px;
	height:758px;
	float:left;
}
.left ul li a{
	color:#272727;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.8;
	margin-left: 0px;
}
.left ul li a:hover{
	background-color: #9D9D9D;
	border:1px solid #9D9D9D;
	border-radius: 3px;
}
.right{
	width:736px;
	height:758px;
	background-color: #F0F0F0;
	float:right;
	text-indent: 0;
	text-align: left;
	position: relative;
}
.right li{
	margin-top: 18px;
}
.right figure{
	width:158px;
	height:188px;
	border: 1px solid #BEBEBE;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
    background-color:#E0E0E0;
}
.right > figure > img{
	margin:2px 0 0 0;
}
.right > figure > a figcaption{
	color:#333;
}
.right > figure > a figcaption:hover{
	font-weight: bold;
}
.right p a{
	color:black;
	font-size: 16px;
}
.next{
	position: absolute;
	right: 48px;
	background-color: #DCDCDC;
	border: 1px solid #DCDCDC;
    border-radius: 3px;;
}
.right p a:hover{
	background-color: #9D9D9D;
	font-weight: bold;
    border: 1px solid #E0E0E0;
	border-radius: 6px;
}
